/* ////////////// */
/* media query lg */
@media all and (min-width: 879px){
    
}

/* ////////////// */
/* media query md */
@media all and (max-width: 878px) and (min-width: 640px){
    
}

/* ///////////// */
/* media query s */
@media all and (max-width:639px ) and (min-width: 553px){
    
}

/* ////////////// */
/* media query xs */
@media all and (max-width: 552px) {

    /* sezione laterale */
    aside {
        width: 50px;
        text-align: center;
    }

    aside > div {
        padding: 0;
    }

    aside li a {
        display: block;
    }

    /* sezione logo  */
    aside .logo {
        width: 100%;
        margin: 0;
    }

    aside .logo #logo-s {
        display: block;
        margin: 10px 0 20px;
    }

    aside .logo #logo-s img {
        width: 30px;
    }

    aside .logo #logo-l {
        display: none;
    }

    /* sezione navigazione */
    aside .aside-nav ul li:first-child {
        border-left: none;
    }

    aside .aside-nav img {
        margin: 0;
    }

    aside .aside-nav ul li {
        padding: 0;
    }

    aside .aside-nav ul li a span {
        display: none;
    }

    /* sezione playlist  */
    .playlist {
        display: none;
    }

    /* sezione profilo */

    aside .profile {
        margin: 0;
    }

    aside .profile div:first-child, aside .profile div:last-child {
        display: block;
    }

    aside .profile div a:last-child {
        display: none;
    }

    aside .divider {
        display: none;
    }

    aside .profile a img {
        margin: 5px 0;
    }

    /* sezione centrale */

    /* sezione cta  */
    main {
        width: calc(100% - 50px);
    }
}

