@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
}

/* //////////////////////////// */
/* sezione laterale navigazione */
aside {
    width: 200px;
    background-color: #000000;
    font-size: .70rem;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


aside a {
    color: #a3a3a3;
}

aside li {
    list-style-type: none;
}

aside li a {
    
    display: flex;
    align-items: center;
}

aside img {
    height: 30px;
}

aside .logo {
    width: 75%;
    margin: 15px 15px 20px;
}

aside .logo img {
    height: auto;
}

aside .logo #logo-s {
    display: none;
}

/* navbar */
aside .aside-nav {
    margin-bottom: 20px;
}

aside .aside-nav ul li {
    margin: 10px 0;
    padding-left: 15px;
}

aside .aside-nav img {
    margin-right: 10px;
}

aside .aside-nav ul li:first-child {
    border-left: 3px solid #adff2f;
}

aside .aside-nav ul li:first-child a {
    color: #ffffff;
}

/* sezione playlist  */
aside .playlist {
    margin-left: 15px;
}

aside .playlist h3 {
    color: #ffffff;
    margin: 10px 0;
}

aside .playlist > a {
    display: flex;
    align-items: center;
}

aside .playlist > a > i {
    font-size: 40px;
    margin-right: 10px;
}

aside .playlist .playlist-wrapper {
    overflow: auto;
}

aside .playlist .playlist-wrapper a {
    display: block;
    margin: 20px 0;
}

/* sezione profilo */
aside .profile {
    margin-left: 15px;
    padding-bottom: 10px;
}

aside .profile a img {
    height: 15px;
    margin-right: 10px;
}

aside .profile div:last-child img {
    height: 30px;
    border-radius: 50%;
    padding: 0 2px;
    background-color: #808080;
}

aside .profile div:first-child, aside .profile div:last-child {
    display: flex;
}

aside .profile div:last-child {
    align-items: center;
}

aside .divider {
    border-bottom: 1px solid #a3a3a3;
    margin: 10px 0;
    width: 90%;
}

/* //////////// */
/* sezione main  */
main {
    width: calc(100% - 200px);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background-color: #141922;
    padding-top: 120px;
}

main h2 {
    color: #ffffff;
    margin: 25px 0 0 25px;
    font-size: 1.5rem;
}

main > span {
    color: #a3a3a3;
    margin: 25px 0 0 25px;

    font-weight: 700;
    font-size: .7rem;
}

/* sezione cta */

main .upgrade {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    right: 0;
}

main .upgrade a {
    font-weight: 700;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 10px 30px;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

/* titoli sezioni */
main .section-titles {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: #a3a3a3;
    font-size: .70rem;
}

main .section-titles h3 {
    display: inline-block;
    margin: 0 15px;
}

/* sezione musica */
main section {
    margin: 10px;
    width: 100%;
    display: flex;
}

main section .album {
    padding: 15px;
    width: calc((100% - 20px) / 6 );
    text-align: center;
    font-size: .7rem;
}

main section .album img {
    max-width: 100%;
    margin-bottom: 10px;
}

main section .album h3 {
    color: #ffffff;
    margin-bottom: 5px;
}

main section .album span {
    color: #a3a3a3;
}

main section:last-child div img {
    border-radius: 50%;
}

/* ////////////// */
/* sezione player */

#player {
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* sezione now playing sinistra */
#player .now-playing {
    display: flex;
    align-items: center;
}

#player .song-playing {
    display: flex;
    margin-right: 20px;
    font-size: .75rem;
}

#player .song-playing img {
    width: 40px;
    margin: 0 10px;
}

#player .now-playing a {
    color: #a3a3a3;
}

#player .now-playing h4 {
    color: #ffffff;
}

/* sezione player tools centrale  */
#player .player-tools {
    text-align: center;
    color: #ffffff;
}

#player .player-tools i {
    margin: 0 10px;
    color: #ffffff;
}

#player .player-tools div a {
    display: inline-block;
    vertical-align: middle;
}

#player .player-tools div a:nth-child(3) {
    font-size: 1.75rem;
}

#player .player-tools div:last-child {
    display: flex;
    align-items: center;
    font-size: .75rem;
    font-weight: 700;
}

#player .play-bar {
    height: 5px;
    background-color: #a3a3a3;
    border-radius: 5px;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

#player .short-bar {
    width: 30%;
    height: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#player .player-tools .play-bar {
    width: 30vw;
}

/* sezione controllo volume destra */
#player .volume-section {
    font-size: .75rem;
    margin-right: 5px;
}

#player .volume-section a {
    margin: 0 5px;
    color: #ffffff;
}

#player .volume-section .play-bar {
    width: 100px;
    margin: 0;
}