* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
    background-color: cornflowerblue;
}

/* //////////////////////////// */
/* sezione laterale navigazione */
aside {
    width: 200px;
    background-color: darkcyan;
}   

aside > div {
    width: 100%;
    padding: 15px;

    /* debug */
    /* height: 50px; */
    border: 1px solid springgreen;
    background-color: royalblue;
}

aside .logo {
    width: 75%;
}   

aside .profile a img {
    width: 15%;
}

/* //////////// */
/* sezione main  */
main {
    width: calc(100% - 200px);
    position: relative;
}

main .upgrade {
    height: 100px;
    width: calc(100% - 200px);
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    right: 0;
}


/* ////////////// */
/* sezione player */
#player {
    height: 100px;
    background-color: coral;
    display: flex;
    justify-content: space-between;
}

#player div {
    height: 100%;
    width: 200px;
    background-color: steelblue;
}