@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

#wrapper {
    display: flex;
    height: calc(100vh - 100px);
    background-color: cornflowerblue;
}

.divider {
    border-bottom: 2px solid #a3a3a3;
}

/* //////////////////////////// */
/* sezione laterale navigazione */
aside {
    width: 200px;
    background-color: darkcyan;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

aside > div {
    width: 100%;
    padding: 15px;
}

aside a {
    color: #a3a3a3;
}

aside li {
    list-style-type: none;
}

aside li a {
    
    display: flex;
    align-items: center;
}

aside img {
    height: 30px;
}

aside .logo {
    width: 75%;
    margin-bottom: 20px;
}

aside .logo img {
    height: auto;
}

aside .logo #logo-s {
    display: none;
}

/* navbar */
aside .aside-nav {
    margin-bottom: 20px;
}

aside .aside-nav ul li:first-child a {
    color: #ffffff;
}

/* sezione playlist  */
aside .playlist h3 {
    color: #ffffff;
}

aside .playlist > a {
    display: flex;
    align-items: center;
}

aside .playlist > a > i {
    font-size: 40px;
}

aside .playlist .playlist-wrapper a {
    display: block;
    margin: 10px 0;
}

/* sezione profilo */
aside .profile a img {
    height: 15px;
}

aside .profile div:last-child img {
    height: 30px;
    border-radius: 50%;
    padding: 0 2px;
    background-color: brown;
}

aside .profile div:last-child {
    display: flex;
    align-items: center;
}

/* //////////// */
/* sezione main  */
main {
    width: calc(100% - 200px);
    position: relative;
}

/* sezione cta */

main .upgrade {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    line-height: 100px;
    vertical-align: middle;
}

main .upgrade a {
    font-weight: 700;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 20px;
    padding: 10px 40px;
}


/* ////////////// */
/* sezione player */

#player {
    height: 100px;
    background-color: coral;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#player div {
    padding: 5px;
}


/* sezione now playing sinistra */
#player .now-playing {
    display: flex;
    align-items: center;
}

#player .song-playing {
    display: flex;
    margin-right: 20px;
}

#player .song-playing img {
    width: 40px;
}

#player .now-playing a {
    color: #ffffff;
}


/* sezione player tools centrale  */
#player .player-tools {
    text-align: center;
    color: #ffffff;
}

#player .player-tools i {
    margin: 0 20px;
    color: #ffffff;
}

#player .player-tools div:last-child {
    display: flex;
    align-items: center;
}

#player .play-bar {
    height: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    display: inline-block;
    padding: 0;
    margin: 0 20px;
}

#player .player-tools .play-bar {
    width: 500px;
}


/* sezione controllo volume destra */
#player .volume-section {

}

#player .volume-section a {
    margin: 0 5px;
    color: #ffffff;
}

#player .volume-section .play-bar {
    width: 100px;
    margin: 0;
}